/* @theme iltci */

@import "default";

/* Base section styles */
section {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Calibri", "Segoe UI", Arial, sans-serif;
  font-size: 28pt;
  padding: 70px;
  justify-content: flex-start;
}

/* 
 * TITLE SLIDE STYLES
 * Apply class="title" to your first slide
 */
section.title {
  background-image: url('./title_slide_bg_image1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #00274B;
}

/* Section name/category at top of title slide */
section.title > h3:first-of-type,
section.title > p:first-of-type {
  color: #3D6B38;
  font-family: "Calibri", sans-serif;
  font-size: 40pt;
  font-weight: bold;
  text-align: left;
  margin: 0 0 2em 0;
  width: 100%;
}

/* Main title on title slide - large navy blue */
section.title h1 {
  color: #00274B;
  font-family: "Calibri", sans-serif;
  font-size: 50pt;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  margin: auto 0 0.3em 0;
  width: 70%;
}

/* Subtitle/speaker names on title slide */
section.title h2,
section.title h3:not(:first-of-type) {
  color: #00274B;
  font-family: "Calibri", sans-serif;
  font-size: 24pt;
  font-weight: bold;
  text-align: left;
  line-height: 1.3;
  margin: 0.3em 0;
  width: 70%;
}

/* Date on title slide */
section.title h3:last-of-type {
  font-size: 20pt;
  font-weight: normal;
}

/* 
 * REGULAR CONTENT SLIDE STYLES 
 */

/* Green header bar across top */
section:not(.title)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #9CCCB4;
  z-index: 0;
}

/* Adjust top padding to account for header bar */
section:not(.title) {
  padding-top: 90px;
}

/* Content slide titles */
section:not(.title) h1 {
  color: #00274B;
  font-family: "Calibri Light", "Calibri", sans-serif;
  font-size: 44pt;
  font-weight: 300;
  text-align: left;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
  position: relative;
  z-index: 1;
}

section:not(.title) h2 {
  color: #4472C4;
  font-family: "Calibri Light", "Calibri", sans-serif;
  font-size: 32pt;
  font-weight: 300;
  text-align: left;
  line-height: 1.3;
  margin: 0.5em 0 0.3em 0;
}

section:not(.title) h3 {
  color: #5B9BD5;
  font-family: "Calibri", sans-serif;
  font-size: 24pt;
  text-align: left;
  line-height: 1.3;
  margin: 0.3em 0;
}

/* Body text and lists */
section p,
section li {
  font-size: 28pt;
  line-height: 1.35;
  color: #000000;
  position: relative;
  z-index: 1;
}

section ul,
section ol {
  margin: 0.5em 0;
  padding-left: 0.8em;
  position: relative;
  z-index: 1;
}

section ul > li {
  margin: 0.3em 0;
}

/* Bullet styles matching PowerPoint */
section ul > li::marker {
  color: #4472C4;
  font-size: 0.8em;
}

section ol > li::marker {
  color: #4472C4;
  font-weight: bold;
}

/* Nested list levels */
section ul ul,
section ol ul {
  font-size: 0.86em;
  margin-left: 0.6em;
}

section ul ul ul,
section ol ol ul {
  font-size: 0.95em;
}

/* Links */
section a {
  color: #0563C1;
  text-decoration: none;
}

section a:visited {
  color: #954F72;
}

section a:hover {
  text-decoration: underline;
}

/* Code blocks */
section pre {
  background-color: #F2F2F2;
  border-left: 4px solid #4472C4;
  padding: 0.5em;
  font-size: 0.75em;
  position: relative;
  z-index: 1;
}

section code {
  background-color: #F2F2F2;
  padding: 0.1em 0.3em;
  font-size: 0.85em;
  border-radius: 3px;
}

/* Footer with session title (left) and slide number (right) */
section:not(.title)::after {
  content: 'AI in Actuarial and Finance    |    ' attr(data-page-number);
  position: absolute;
  bottom: 20px;
  left: 70px;
  right: 70px;
  font-size: 14pt;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  text-align: left;
  z-index: 2;
}

/* Logo placeholder in bottom right - you'll need to add the actual logo */
section:not(.title) {
  background-image: url('./title_slide_bg_image2.png');
  background-size: 70px auto;
  background-position: bottom 20px right 20px;
  background-repeat: no-repeat;
}

/* Tables */
section table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em;
  position: relative;
  z-index: 1;
}

section th {
  background-color: #4472C4;
  color: #FFFFFF;
  padding: 0.3em 0.5em;
  text-align: left;
  font-weight: bold;
}

section td {
  border: 1px solid #E7E6E6;
  padding: 0.3em 0.5em;
}

section tr:nth-child(even) {
  background-color: #F8F9FA;
}

/* Blockquotes */
section blockquote {
  border-left: 5px solid #5B9BD5;
  padding-left: 1em;
  margin: 0.5em 0;
  font-style: italic;
  color: #44546A;
  position: relative;
  z-index: 1;
}

/* Strong/Bold and Emphasis */
section strong {
  color: #44546A;
  font-weight: bold;
}

section em {
  color: #4472C4;
  font-style: italic;
}

/* Images */
section img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

/* Horizontal rules */
section hr {
  border: none;
  border-top: 2px solid #E7E6E6;
  margin: 1em 0;
  position: relative;
  z-index: 1;
}